@page "/servers/edit/{id:int}"
@using System.Runtime.CompilerServices
@using Microsoft.JSInterop;


@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" ConfirmExternalNavigation="true"></NavigationLock> <!--navigation lock çıkmadan önceki uyarı-->

<h3>EditServer</h3>
<br/>
<br/>
@if (server != null)
{

    
}
@code {
    [Parameter]
    //id değişkenine atandı
    public int Id { get; set; }
    [SupplyParameterFromForm] //formdan bu property'e değer geçmesini sağlıyor
    private Server? server { get; set; }
    private string InfoMessage { get; set; }

    protected override void OnParametersSet()
    {
        //?? null ise atama yap , sayfa parametreleri ile gelen id'yi kullanarak server nesnesini bul
        server ??= serverEFCoreRepository.GetServerById(this.Id);
    }

    private void Submit()
    {

        try
        {
            //eğer kod bitme şansı varsa direk orada kes
            if (server == null) throw new Exception();


            var existing = serverEFCoreRepository.GetServerById(server.ServerId);
            // formda değişiklik olmadığını başka nasıl anlarız (DTO)
            if (existing.Name == server.Name && existing.IsOnline == server.IsOnline && existing.City == server.City)
            {
                InfoMessage = "No changes made to the server.";
                return;
            }
            serverEFCoreRepository.UpdateServer(server.ServerId, server);
            NavigationManager.NavigateTo($"/servers/back_from/{this.server?.City}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
        //  NavigationManager.NavigateTo("/servers");
        //submit sonrası yönlendirme
    }

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
       var isConfirmed= await JsRuntime.InvokeAsync<bool>("confirm", "Are You Sure");

      if (!isConfirmed)
      {
          context.PreventNavigation();
      }
    }

    
}
