@page "/servers"
@using System.Diagnostics
@using Microsoft.AspNetCore.SignalR
@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<CityListComponent @ref="cityListComponent" SelectCityCallback="HandleCitySelection"></CityListComponent>
<br />

<SearchBarComponent @ref="searchBarComponent" SearchServerCallback="HandleSearchServer"></SearchBarComponent>
<br />

<CascadingValue Name="SelectedCity" Value="@selectedCity">
    <ServerListComponent @rendermode="InteractiveServer" CityName="@this.selectedCity" SearchFilter="@SearchFilter"></ServerListComponent>
</CascadingValue>
<ServerComponent @rendermode="InteractiveServer"></ServerComponent>

<a href="/servers/add" class="btn btn-link">Add Server</a>

@code {

    //private List<string> cities = CitiesRepository.GetCities();
    private string selectedCity = "Toronto";
    private string SearchFilter = "";
    private CityListComponent? cityListComponent;
    private SearchBarComponent? searchBarComponent;

    private void HandleSearch()
    {
        //this.servers= ServersRepository.SearchServers(serverFilter);
        // this.selectedCity=String.Empty;
    }
    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
        this.SearchFilter = string.Empty;
        searchBarComponent.ClearFilter();
    }

    private void HandleSearchServer(string searchFilter)
    {
        this.SearchFilter = searchFilter;
        cityListComponent.ClearSelection();
    }
}

