@page "/cityname"

@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<h3>SetCityName</h3>
<br />
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert-danger">
        @errorMessage
    </div>
}
<FieldComponent Label="City">
    <Control>
        <input type="text" @bind-value="cityName" class="form-control"/>
    </Control>
</FieldComponent>
<br />
<button type="button" class="btn btn-primary" @onclick="GoNext">Next</button>
@code {
    private string errorMessage;
    private string cityName;
    [SupplyParameterFromQuery] public string serverName { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (string.IsNullOrWhiteSpace(serverName))
            {
                this.errorMessage = "Server name wasn't provided";
                StateHasChanged();
            }
        }
    }
    private void GoNext()
    {
        if (string.IsNullOrWhiteSpace(serverName))
        {
            this.errorMessage = "Server name wasn't provided";
            StateHasChanged();
        }
        else if (string.IsNullOrWhiteSpace(cityName))
        {
           this.errorMessage = "City Name is Required";
        }
        else
        {
            NavigationManager.NavigateTo($"/serverstatus?servername={serverName}&cityname={cityName}");
        }
    }
}

