<h3>ServerListComponent</h3>
@inject NavigationManager NavigationManager


@if (this.servers != null && this.servers.Count>0)
{
    <ul class="list-group mb-4">
        <!--Virtualize Items="this.servers" Context="server">
    </Virtualize> çok fazla veriyi aynı anda güncellemesin sistem sıkışmasın
    -->
        @foreach (var server in servers)
        {
            <ServerComponent Server="server"></ServerComponent>
        }

    </ul>
}



@code {
    [Parameter]
    public string? CityName { get; set; }

    private List<Server>? servers;

    protected override void OnParametersSet()
    {
       servers= ServersRepository.GetServersByCity(CityName);
    }

    
}
